
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание</title>
</head>
<body>

<form th:method="POST" th:action="@{/saveUser}" th:object="${user}">
    <label for="name">Имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="surname">Фамилия: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br>
    <label for="age">Возраст: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br>
    <input type="submit" value="Создать"/>
</form>

</body>
</html>